<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>美食達人</h1>

<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li><%= link_to '首頁', root_path %></li>
      <li><%= link_to '最新動態', feeds_restaurants_path %></li>
      <li class="active"><%= link_to '美食達人', users_path %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @users.each do |user| %>
        <div class="col-xs-6 col-md-3 text-center user-item">
          <div class="caption">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
            <h4><strong><%= link_to user.name, user_path(user) %></strong></h4>
            <h5><%= render partial:"shared/follow", locals:{user: user} %></h5>
          </div>
        </div>
      <% end %>
  </div>
</div>
